{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "react/prop-types": "off",
        "react/display-name": "off"
    },
    "extends": [
        "next",
        "next/core-web-vitals",
        "eslint:recommended",
        "plugin:@next/next/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "settings": {
        "react": {
            "version": "18.2"
        }
    }

}